body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1200px;
}

.form-container,
.result-container {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  flex: 1; /* Adjusted width to take up half of the container */
  margin-right: 20px; /* Added margin between form and result */
}

.result-container {
  flex: 1; /* Adjusted width to take up half of the container */
  overflow: auto;
  height: auto; /* Changed from fixed height to auto */
}

.form-group {
  display: block;
  width: 50%;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.form-group-half {
  display: flex;
  justify-content: space-between;
}

.form-group-half .form-group {
  width: 48%;
}

.form-group .checkbox-label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background: #000000;
  color: #fff;
  border: #000;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.result-container {
  border: 1px solid #ccc;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
}
